*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contenitore{
    background-color:antiquewhite;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 30px;
}
.spazio{
    padding-right: 30px;
}
h1{
    padding: 30px 30px;
    font-size: 45px;
    text-align: center;
}
h2,h3,h4,h5,h6{
    padding-top: 30px;
    font-size: 30px;
    text-align: center;
}
h3{
    color: darkcyan;
}
h6{
    color: red;
    padding-bottom: 50px;
}
.spaziatura a{
    padding-left: 40px;
}
.contenitore-logos{
    padding: 50px 0 0 90px;
}
img{
    padding-right: 40px;
}
h4{
    color:darkcyan;
    padding-bottom: 25px;
}
figcaption{
    padding-top: 20px;
}
.contenitore-cards{
    padding-top: 30px;
    padding-bottom: 40px;
    clear:both;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
button{
    width: 70px;
    padding-bottom: 70px;
}
form{
    padding: 30px 50px;
}
.contenitore-logos{
    padding: 30px 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.spaziatura{
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    margin-top: 50px;
    background-color:antiquewhite;
}
img{
    float: left;
    padding: 30px 30px 50px 0;
}
.altezza{
    padding-top: 30px;
}
em{
    padding-bottom: 40px;
}
@media only screen and (max-width: 500px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .grandezza-font{
        font-size: 40px;
        position: relative;
        min-height: 100vh;
    }
    .contenitore{
        background-color:antiquewhite;
        display: flex;
        justify-content: space-between;
        font-family: Arial, Helvetica, sans-serif;
        padding-right: 30px;
        height: 10vh;
    }
    .spazio{
        padding-right: 30px;
    }
    h1{
        padding: 30px 30px;
        font-size: 45px;
        text-align: center;
    }
    h2,h3,h4,h5,h6{
        padding-top: 30px;
        font-size: 30px;
        text-align: center;
    }
    h3{
        color: darkcyan;
    }
    h6{
        color: red;
        padding-bottom: 50px;
    }
    .spaziatura a{
        padding-left: 40px;
    }
    .contenitore-logos{
        padding: 50px 0 0 90px;
    }
    img{
        padding-right: 40px;
    }
    h4{
        color:darkcyan;
        padding-bottom: 25px;
    }
    figcaption{
        padding-top: 20px;
    }
    .contenitore-cards{
        padding-top: 30px;
        padding-bottom: 30px;
        clear: both;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
    button{
        width: 70px;
        padding-bottom: 70px;
    }
    form{
        padding: 30px 50px;
    }
    .contenitore-logos{
        padding: 30px 50px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .spaziatura{
        display: flex;
        justify-content: space-around;
        padding: 30px 0;
        margin-top: 50px;
        background-color:antiquewhite;
        height: 10vh;
        bottom: 0;
    }
    img{
        float: left;
        padding: 30px 30px 50px 0;
    }
    .altezza{
        padding-top: 30px;
    }
    em{
        padding-bottom: 40px;
    }
    .pagina{
        height: 80vh;
    }
}